body {
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    /*flex-direction:column;*/
}

.topBar {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: auto;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 18px;
}

.head-links {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 16px;
}

.under-header {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 75px;
    display: flex;
}

.top-left {
    width: 50%;
    margin-right:26px;
    display: flex;
    flex-flow: wrap;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.title-text {
    font-size: 18px;
}

button {
    width: 200px;
    height: 30px;
    color:#E5E7EB;
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
}

.top-right {
    width: 50%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-images {
    display: flex;
    justify-content: center;
}

.four-images {
    border-style:solid;
    border-radius: 8px;
    border-color: #3882F6;
}

.quotespace {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
}